  *
{
    font-family:helvetica;
}
body
{
   
   line-height:1.5;
   /*font:15px/1.5 Arial,helvetica, sans-serif*/
   margin:0;
   padding:0;
   

}

header
{
    background-color:#575757;
    width:100%;
   height:auto;
    
     
}

header img
{
    width:100%;
    /*position:fixed;
    z-index: -1;*/
  
}


#info
{
    display: inline-flex;
    width:100%;
    height: auto;
    background-color:white;
    border-top:2px solid #f85b79;
     border-bottom:2px solid #f85b79;
   margin:0;
    
  
   
}

#info #mini_img
{
    width:auto;
    height: auto;
    margin:20px;
    /*border:3px solid magenta;*/
    background:white;
       
}

ul, li, p li
{
   
  list-style-type: none;
    text-align: left;

}

.icon
{
    max-width: 16px;
    max-height: 16px;
    position: relative;
    top:2;
    padding-right:10px;
}



#info #sub_info
{
    width:100%;
    height: auto;
    
    background-color: white;
    /*border:3px solid black;*/
}

#info #sub_info #sub_info1
{
    
   
    
    height: 49%;
    background: white;
    
    
}
#info #sub_info #sub_info1 #desc
{
    margin-right: 10%;
}


p, h1,h2,h3
{
    text-align: justify;
     line-height:1;
    width:100%;
}

#info #sub_info #sub_info2
{
    display:inline-flex;
  
 padding:0;
    width:100%;
    
    
    background: magenta;    
    
}

#info #sub_info #sub_info2 #sub_info2_info
{
    width:100%;
    height: auto;
 
    background: white;    
    
}
#info #sub_info #sub_info2 #sub_info2_img
{
    width:auto;
    height: auto;
    float:left;
   padding-right:20px;
    background-color: white;    
    
}

#sec_2
{
    width: 100%;
    height: 100%;
       background:url("img/albums_view.png") no-repeat center center;
border-bottom:1px solid black;
    
    background-color: #575757;
}

#sec_3
{
    width: 100%;
    height: 100%;
       background:url("img/albums_view.png") no-repeat center center;
border-bottom:1px solid black;
}

